<div class="dialog-container">
    <!-- Top (title & edit mode) -->
    <div class="title-container">
        <mat-icon *ngIf="isEditMode; else editMode" class="icon mode-icon" (click)="handleSaveClicked()">save</mat-icon>
        <ng-template #editMode>
            <mat-icon class="icon mode-icon" (click)="handleEditClicked()">edit</mat-icon>
        </ng-template>
        <h1 mat-dialog-title>Photo Info</h1>
    </div>
    <!-- Middle (content & image) -->
    <mat-dialog-content class="dialog-content-grid">
        <div *ngIf="!isEditMode; else editBlock" class="details-container">
            <div class="details">
                <h2>Caption:</h2>
                <div>{{photo.caption}}</div>
            </div>
            <div class="details">
                <h2>Categories:</h2>
                <span *ngFor="let category of photo.categories">{{category.name}} </span>
            </div>
            <div class="details">
                <h2>Location:</h2>
                <div>{{photo.location}}</div>
            </div>
        </div>
        <ng-template #editBlock>
            <div class="details-container">
                <div class="details">
                    <h2>Caption:</h2>
                    <input type="text" [(ngModel)]="photo.caption" class="edit-input" />
                </div>
                <div class="details">
                    <h2>Categories:</h2>
                    <mat-form-field>
                        <mat-label>Categories</mat-label>
                        <mat-select [formControl]="categories" [compareWith]="compareCategories" multiple>
                            <mat-option *ngFor="let category of categoriesList" [value]="category">
                                {{category.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="details ">
                    <h2>Location:</h2>
                    <div class="edit-location">
                        {{photo.location}}
                        <mat-icon matSuffix>place</mat-icon>
                    </div>
                </div>
            </div>
        </ng-template>
        <div class="photo-container">
            <img src="{{photo.src}}" />
        </div>
    </mat-dialog-content>
    <!-- Bottom (buttons) -->
    <div class="buttons-container">
        <mat-dialog-actions>
            <button mat-button mat-dialog-close>Cancel</button>
        </mat-dialog-actions>
        <div class="options-container">
            <mat-icon *ngIf="photo.isFavorite; else notFavorite" class="heart" (click)="handleFavoriteClicked()">
                favorite</mat-icon>
            <ng-template #notFavorite>
                <mat-icon class="heart" (click)="handleFavoriteClicked()">favorite_border</mat-icon>
            </ng-template>
            <mat-icon *ngIf="photo.isPrivate; else notPrivate" (click)="handleLockClicked()">lock</mat-icon>
            <ng-template #notPrivate>
                <mat-icon (click)="handleLockClicked()">lock_open</mat-icon>
            </ng-template>
        </div>
    </div>
</div>