/* currently not helping at all (also the position: absolute) */
.wrapper{
  position:relative;
}

.sidenav-container {
  position:absolute;
  width:100vw;
}

.sidenav {
  position:absolute;
  width: 20vw;
}

.sidenav-container > .outlet{
  position:absolute;
  overflow: hidden;
}

.sidenav .mat-toolbar {
  background: inherit;
}

/* The navbar as a whole */
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

.site-title-container{
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: row;
  column-gap: 10px;
}

.mat-nav-list /deep/ .mat-list-item-content{
  justify-content: space-between;
}