.local-machine-grid{
    display: grid;
    grid-template-rows: 18vh 60vh;
    overflow: hidden;
    height: 100%;
}

.file-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10px;
}

.image-container{
    height: 100%;
    min-height: 55vh;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.image-container > img{
    max-height: 55vh;
    max-width: 65vw;
}