.container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.center{
    justify-content: center;
    align-items: center;
}

.mat-form-field{
    width:40vw;
}

.btn{
    width:20vw;
}