.main-album-grid{
    display: grid;
    grid-template-rows: 30vh 50vh 11vh;
    height: 91vh;
    position: relative;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;  
}

.main-album-grid .bottom-container{
  position:relative;
  width: 100%;
}

.bottom-container .lock-container{
  position:absolute;
  top:50%;
  left:90%;
  transform: translate(-10%,-50%);
}

.bottom-container .heart-container{
  position:absolute;
  top:50%;
  left:80%;
  transform: translate(-20%,-50%);
}

.icon{
  font-size: 50px;
}

.icon:hover{
  cursor: pointer;
  opacity: 0.6;
}

.icon:hover:active{
  opacity: 0.9;
}

.heart-icon{
  color:red;
}