<div class="about-main-container">
    <!-- Title -->
    <div class="about-title-container">
        <div class="main-title">About Us</div>
        <h1>What makes us different?</h1>
    </div>
    <!-- Body -->
    <div class="about-body">
        <h1 class="sub-title">Adding Photos From Everywhere!!!</h1>
        <p class="left">Cosmo's Album Hub supports adding new images from local-device</p>
        <p class="center">From online search</p>
        <p class="right">And even from your local device's camera!</p>

        <h1 class="sub-title">Search</h1>
        <p>
            Cosmo's Album Hub provides a smart search engine among your photos by name & category
        </p>

        <h1 class="sub-title">Private Mode</h1>
        <p>
            Cosmo's Album Hub provides a private mode where you can hide your private data from unwelcome guests, and
            show it only with password.
        </p>

        <h1 class="sub-title">Random Show</h1>
        <p>
            Cosmo's Album Hub can toggle your memories in autoplay mode with totally random appearance.
        </p>

        <h1 class="sub-title center">Join Us Today!</h1>
    </div>
</div>