<div class="location-dialog-container">
    <div class="map-title">
        <h1>Drag the red pointer to the desired location.</h1>
        <h3>*Note: The last valid point is the one to be saved.*</h3>
    </div>
    <div class="search-container">
        <div class="search-title">Enter Address</div>
        <input type="text" class="search-input" (keydown.enter)="$event.preventDefault()"
            placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text"
            #search>
    </div>

    <div class="map-container">
        <agm-map [(latitude)]="latitude" [(longitude)]="longitude" [zoom]="zoom">
            <agm-marker [(latitude)]="latitude" [(longitude)]="longitude" [markerDraggable]="true"
                (dragEnd)="markerDragEnd($event)"></agm-marker>
        </agm-map>
        <div class="coords-details">
            <div>Address: {{address}}</div>
            <div>Latitude: {{latitude}}</div>
            <div>Longitude: {{longitude}}</div>
        </div>
    </div>

    <div class="button-container">
        <button mat-raised-button color="primary" (click)="handleSaveAndClose()">Save And Close</button>
    </div>

</div>