body .main-grid{
    height: 100%;
    display: grid;
    grid-template-rows: 80% 20%;
    overflow: hidden;
    overflow:hidden;
}

.main-grid > .views-container{
    height: 100%;
}

.views-container > .mat-tab-group{
    height: 100%;
}
.mat-tab-group .mat-tab{
    height: 100%;
}

.main-grid > .button-container{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 100%;
}

.btn{
    width:10rem;
    height:2rem;
    align-self: center;
    justify-self: center;
    margin: 0 10%;
}
