.container{
    height: 50%;
    max-height: 50vh;
    max-width: 90%;
    overflow-y: auto;
    overflow-x: hidden;
    margin: auto;
}

.image-gallery {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }